AI_API_KEY=
AI_API_URL=https://openrouter.ai/api/v1/chat/completions
AI_MODEL=deepseek/deepseek-chat
OPENROUTER_API_KEY=
DEEPSEEK_API_KEY=
MAP_API_KEY=
NASA_API_KEY=
PEXELS_API_KEY=
SEARCH_API_KEY=
SEARCH_API_URL=
VITE_API_URL=
WEATHER_API_KEY=
WEATHER_API_URL=